<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ВОСХОД</title>
</head>
<body>
<h3>Добавление зала</h3>
<p th:if="${addHall}"> Сеанс в ЗАЛЕ №
    <span  th:text="${addHall}" style="color:green"></span>
    добавлен
</p>
<form action="#" th:action="@{/hall/add}" th:object="${hall}" method="post">
    <div>
        <select name="filmId">
            <option th:each="film : ${films}"
                    th:value="${film.id}"
                    th:utext="${film.name}">
            </option>
        </select>
    </div>

        <label>Наименование зала: <input th:field="*{numHall}" type="text"></label>
    </div>
    <div>
        <label>Дата начала: <input th:field="*{dateTime}" type="datetime-local"></label>
    </div>
    <div>
        <label>Стоимость билета: <input th:field="*{priceTicket}" type="text"></label>
    </div>

    <div>
        <label>Количество доступных билетов: <input th:field="*{numTicket}" type="number"></label>
    </div>

    <p><input type="submit" value="Добавить"></p>
</form>

<p><a href="/admin/show">Назад</a></p>
</body>
</html>