<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ВОСХОД</title>
</head>
<body>
<h2>Список фильмов</h2>
    <div>
        <th:block th:each="film : ${films}">
            <div>
                <h3 th:utext="${film.name}"></h3>
                <p th:utext="${film.filmDescription}"></p>
                <a th:href="@{'/order/' + ${film.id}}">Переход к выбору сеанса</a>
                <!--можно добавить ссылку на id фильма, в контроллере получать вильм по id-->

            </div>
        </th:block>
    </div>
<p><a href="/">На главную</a></p>

</body>
</html>